<%- include("partials/header") %>


<div class=container>
    

   <header class="jumbotron">
      <h1 class="display-4">WELCOME TO YELP CAMP!!</h1>
  <p class="lead">This is a simple website to find the best Camp sites available</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="/campgrounds/new" role="button">Add a camp place</a>
</header> 
    
    


<h1>THIS IS THE CAMP GROUND PAGE</h1>
    <div class="row">

<% name.forEach(function(x){%>
<div class="col-lg-4 col-md-6">
  
    <h4 class="strong"><%=x.name%></h4>

    <img class="img-thumbnail" src="<%=x.img%>" alt="imGE">


   
</div>
<%});%>
</div>
    </div>
<%- include("partials/footer") %>