<%- include("partials/header") %>

<div style="margin-top:100px; margin-bottom:-100px;">
<h1>Welcome to the Bootcamp addition</h1></div>
<form action="/campgrounds" method="post">
    <div class="form-group">
    <input   type="text" placeholder="name" name="name" >
        </div>
    
    <div class="form-group"> <input  type="text" placeholder="img" name="img" ></div>
   <div style="width:15%; margin:0 auto;">
    <button class="btn btn-large btn-primary btn-block">submit!!</button>    
       </div>
</form>
    



<%- include("partials/footer") %>