
<%- include("partials/header") %>
<h1>hello you fell in love with<%=animal%></h1>
        <%if(animal === "rusty"){%>

<p>rusty is the best</p>
<%} 
else{ %>
<p>bad choice choose rusty only</p>
<%}%>

<%- include("partials/footer") %>