


ol {
    font-family: 'Playfair Display', serif;
    color:darkblue;
}

h1 {
    color: coral;
    font-size: 40px;
}

span {
    font-size: 30px;
    text-decoration: underline;
}

ul {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color:floralwhite;
}

img {
    float: left;
    width: 10%;
    margin: 9%
}


.two {
    text-align:match-parent;
}
